# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 
Langraph/.codespellignore
Langraph/.gitignore
Langraph/langgraph.json
Langraph/LICENSE
Langraph/Makefile
Langraph/pyproject.toml
Langraph/README.md
Langraph/.github/workflows/integration-tests.yml
Langraph/.github/workflows/unit-tests.yml
Langraph/src/react_agent/__init__.py
Langraph/src/react_agent/configuration.py
Langraph/src/react_agent/graph.py
Langraph/src/react_agent/prompts.py
Langraph/src/react_agent/state.py
Langraph/src/react_agent/tools.py
Langraph/src/react_agent/utils.py
Langraph/static/studio_ui.png
Langraph/tests/cassettes/103fe67e-a040-4e4e-aadb-b20a7057f904.yaml
Langraph/tests/integration_tests/__init__.py
Langraph/tests/integration_tests/test_graph.py
Langraph/tests/unit_tests/__init__.py
Langraph/tests/unit_tests/test_configuration.py
